.every_main{
    max-width: 1300px;
    margin: 0 auto;
}


.tab{
    max-width: 730px;
}






/* contact */
.contact{
    background-color: rgb(20, 37, 50);
    max-width: 510px;
    padding: 20px 5px;
}
.contact h2{
    font-size: 33px;
    color: white;
    font-weight: 700;
    margin-left: 30px;
}


.contact button{
    background-color: tomato;
    color: white;
    margin: 20px 0px;
}



